<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="pocoTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>POCO/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="js/app.js"></script>
    <script src="js/index.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">	
	<div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h2>POCO/Angular Todo App <span class="label label-info">{{ doors.length }}</span></h2>
        </div>
		
		<div>
		<div id="door-query-form" class="row">
            <div class="col-sm-8 text-center">
                <div class="container">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="email">Цена мин.:</label>
                            <input type="email" class="form-control input-lg text-center" placeholder="Цена мин." ng-model="formData.costbasismin">
                        </div>
                        <div class="form-group">
                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <label for="email">Цена макс.:</label>
                            <input type="email" class="form-control input-lg text-center" placeholder="Цена макс." ng-model="formData.costbasismax">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="getSuitableDoors()">Find</button>
                    </form>
                </div>
            </div>
        </div>

        <article class="wrapper" id="card1">
            <a class="link"><div class="link-title inline-row" href="http://www.google.com">Link 1
            </div></a>
            <a class="link"><div class="link-title inline-row">Link 2
            </div></a>
            <a class="link"><div class="link-title inline-row">Link 3
            </div></a>
        </article>
       
        
        <!-- TODO LIST -->
		<!---->
        <div id="doors-list" class="row" >
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div ng-repeat="door in doors">
                    <div class="panel panel-default">
						<div class="panel-heading">
							<label>
								<input type="checkbox" ng-click="deleteTodo(door._id)"> {{ door.doorname }} 						
							</label>
						</div>
						<div class="panel-body">
							<p class="inline_row">Базовая стоимость: {{ door.costbasis }}</p>
							<p class="inline_row">Производитель: {{ door.manname }}</p>					
							<p class="inline_row">Last modified time: {{ door.last_modified_time }}</p>
						</div>
					</div>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                </form>
            </div>
        </div>

    </div>
    
    <div class="background">
    <div id='header'>
    </div>
    </div>

</body>
</html>


